<nav class="w-screen bg-blue-400 h-14 p-4 flex-initial content-between flex justify-between items-center">
    <a class="text-white uppercase text-lg font-bold" href="/">
        Answer me
        <a href="/perguntar" class="text-white p-5">Criar Tópico</a>
    </a>
</nav>